html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    /* text-align: left; */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#77EDED, #306161);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-flow: row wrap; */
    width: 90%;
}

/* header,
main,
footer { */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-flow: row wrap; */
/* } */

form button {
    margin: 10px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: yellow;
}
  
/* .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */