html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    /* text-align: left; */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 72px;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-flow: row wrap; */
    width: 90%;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    margin: 10px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: yellow;
}
  
/* .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */

#text h2 {
    font-family: 'Marck Script', cursive;
    font-size: 4em;
    margin: 20px;
    text-align: center;
}

.hidden {
    display: none;
}