html {
    font-size: 18px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    text-align: center;
}

ul,
ol {
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 4px;
}

a {
    color: #008080;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    color: black;
}

h2 {
    font-size: 2em;
}

input {
    margin-left: 10px;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    margin: 10px;
}

img {
    border-radius: 7px;
}

#previous {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 50px;
}

#schemes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#text h2 {
    font-family: 'Marck Script', cursive;
    font-size: 4em;
    margin: 20px;
    text-align: center;
}

#mode i {
    font-size: 2.5em;
    padding: 10px;
}

#gradient {
    padding: 20px;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 70%;
}

.definitions,
#scheme-defs {
    font-size: .8em;
    text-align: left;
    line-height: 1.8;
}

.square {
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 7px;
}

.sm-square {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 100px;
}

.rectangle {
    width: 300px;
    height: 200px;
    background-color: transparent;
    border-radius: 7px;
}

.dark {
    background-color: black;
    color: white;
}

.dark h1 {
    color: white;
}